<!DOCTYPE html>
<html>
<head>
	
		
		
			

	 

	 

	<title>Pixinvent Creative Studio - Support Portal</title>
	<meta property="og:title" content="Pixinvent Creative Studio - Support Portal">
	<meta property="og:site_name" content="Pixinvent Creative Studio - Support Portal">
	
			<link rel="icon" id="favicon" href="img/favicon-32x32.png">
	
	<link href="css/css.css" rel="stylesheet">
	<!--<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&amp;subset=cyrillic,cyrillic-ext,hebrew,latin-ext" rel="stylesheet">-->
	
			<link rel="apple-touch-icon" href="img/2804328273.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="//ticksy_system_icons.s3.amazonaws.com/2804328273.png">
		<meta name="theme-color" content="#ffffff">
		<meta property="og:image" content="img/2804328273.png">
		
	<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5AC17F">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Combined Ticksy Vendor CSS -->
	<link rel="stylesheet" href="css/_combined.min.css">
	
	<!-- Fancybox -->
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	
	<!-- Redactor2 -->
	<link rel="stylesheet" href="css/redactor.css">
	
	<!-- Animations -->
	<link rel="stylesheet" href="css/animations.css" type="text/css" media="screen">
	
	<!-- Highlight.js -->	
	<link rel="stylesheet" href="css/tomorrow.min.css">
	
	<!-- Shared Stylesheet -->
	<link rel="stylesheet" href="css/shared_styles.css" type="text/css" media="screen">	
	
	<!-- Theme Stylesheet -->
	<link rel="stylesheet" href="css/style_1.css" type="text/css" media="screen">
	
	<!-- System Colors -->
		<link rel="stylesheet" href="colors.php" type="text/css" media="screen">
		
	<!-- Responsive Stylesheets -->
	<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/responsive_1.css" type="text/css" media="screen">
	
	
	<script type="text/javascript">
		
		var color_1 = '334553';
		var color_2 = '5AC17F';
		var color_3 = '2E9AE9';
		var color_4 = 'FFA366';
		var color_5 = 'E85E3C';
		var ticksy_public_theme = '_theme';
		
				
	</script>
	<script src="js/SPI_Utils.js"></script> 
		<style type="text/css">
		/* Put your own custom CSS here! */	</style>
		
</head>
<body class="preload ticksy-front">
	
		
		<script>
		
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
				
		ga( 'create', 'UA-27232571-1', 'auto' );
					ga( 'set', 'userId', '0' );
				ga( 'set', 'dimension1', 'pixinvent' );
		ga( 'send', 'pageview' );
		
		</script>
		
		<div class="success-banner"><div class="shell"><p></p><a class="button white sm">Okay</a></div></div>		
					
							<header id="header" class="push front">
					<div class="shell">
						<a class="logo" href="https://pixinvent.ticksy.com/" style="background-image:url(img/8056424078.png);"><script type="text/javascript" style="display:none">
//<![CDATA[
window.__mirage2 = {petok:"71018be98dd5fbed91b28d08fe4c8c115b56fd56-1659554165-1800"};
//]]>
</script>
<script type="text/javascript" src="js/mirage2.min.js"></script>
<img class="system-logo" alt="Pixinvent Creative Studio - Support Portal" data-cfsrc="https://ticksy_system_logos.s3.amazonaws.com/8056424078.png" style="display:none;visibility:hidden;"><noscript><img class="system-logo" alt="Pixinvent Creative Studio - Support Portal" src="img/8056424078.png"></noscript></a>
						
						<nav>
							
														
							<a href="/submit/"><i class="ti ti-ticket-solid"></i>&nbsp;&nbsp;Submit a Ticket</a>
							
														
							
													
														
								<a class="signin" href="#">Sign In</a>
							
														
															
						</nav>
						
					</div>
				</header>
				
				<header id="mobile-header" class="with-button">
					<div class="shell">
						
						<a class="logo with-img" href="https://pixinvent.ticksy.com/" style="background-image:url(img/8056424078.png);"><img class="system-logo" alt="Pixinvent Creative Studio - Support Portal" data-cfsrc="//ticksy_system_logos.s3.amazonaws.com/8056424078.png" style="display:none;visibility:hidden;"><noscript><img class="system-logo" alt="Pixinvent Creative Studio - Support Portal" src="img/8056424078.png"></noscript></a>
						
						<a href="#" class="menu-toggle"><i class="ti ti-list-detailed ti-fw"></i></a>
						
													<a class="signin" href="#">Sign In</a>
												
					</div>
				</header>
				
				<div id="sidebar-menu">
					
										
					<div class="sidebar-menu-section">Navigation</div>
					<div>
												
						<a href="/submit/"><i class="ti ti-ticket"></i>&nbsp;&nbsp;&nbsp;Submit a Ticket</a>
						
											</div>
					
					<div class="sidebar-menu-section">Account</div>
					<div>
													<a class="signin" href="#"><i class="ti ti-user ti-fw"></i>&nbsp;&nbsp;&nbsp;Sign In</a>
											</div>
					
				</div>
			
			
								
				<section id="banner" data-image-src="https://ticksy_hero_backgrounds.s3.amazonaws.com/6468984815.jpg" style="background-image:url(&#x27;img/6468984815.jpg&#x27;);">
					<div class="overlay" style="background:transparent"></div>
					<div class="text shell tight cf">
						<form action="/search/" method="get" id="search-form">
							
							<h2>How Can We Help You?</h2><p>Welcome everyone! Search <strong>Articles</strong>, <strong>Public Tickets</strong>&nbsp;and watch <strong>Videos</strong> to find answers. Or, submit a <strong>Ticket</strong> if needed.</p>							
																								<a href="/submit/" class="ticksy-banner-submit button color-2 large on-dark solo"><i class="ti ti-ticket"></i>&nbsp;Submit a Ticket</a>
															
														
							
								
									<a class="envato-signin button large color-envato" href=" https://ticksy.com/?action=envato_connect&amp;domain=pixinvent&amp;system_id=5246"><i class="ti ti-envato"></i>Login with Envato</a>
															
														
						</form>
					</div>
				</section>
			
			
				
		
	<div class="container">


	
		
			<section class="page-content white cf">
				<div class="shell tight">

					<div class="system-message cf"><h3>Please note that our support is limited only for those who have purchased our item.</h3>
<p>We are trying our best to let the theme run as it should be (ie. like DEMO SITE). But we&nbsp;<span class="redactor-inline-converted">CANNOT</span>&nbsp;provide any customization on the theme. Also please understand that we&nbsp;<span class="redactor-inline-converted">CANNOT</span>&nbsp;offer compatibility with each and every JavaScript plugin out there. If you need theme customization service, please check out the banner below. Thank you so much!
</p>
<p><br></p>
<figure><a href="https://goo.gl/LJKGDE" target="_blank" rel="nofollow"><img data-cfsrc="https://ticksy_attachments.s3.amazonaws.com/5744246114.png" data-image="5744246114" alt="Customization Service" title="Customization Service" data-cfstyle="font-size: 15px; vertical-align: middle; cursor: pointer;" style="display:none;visibility:hidden;"><noscript><img src="img/5744246114.png" data-image="5744246114" alt="Customization Service" title="Customization Service" style="font-size: 15px; vertical-align: middle; cursor: pointer;"></noscript></a></figure>
<p><br></p>
<h3>Item support policy</h3>
<p>Please check item support policy page&nbsp;<a href="https://themeforest.net/page/item_support_policy" target="_blank" rel="nofollow">https://themeforest.net/page/item_support_policy</a> to know&nbsp;all about what you can expect from authors who sell supported items.</p>
<h3>Before submitting the ticket.</h3>
<ol><li>Make sure that you are running the latest version of theme.&nbsp;</li><li>Make sure that you deeply checked theme's documentation and try to search for public tickets in case of someone else asked the same question before.&nbsp;</li><li>Please watch theme introduction, folder structure and customization videos[If available] to see if you get the answer.</li></ol>
<h3>While submitting the ticket.</h3>
<p>Please be as specific as possible when starting a new ticket, it really helps us to identify the root of your problem when you provide a link to your site, a screenshot of your error message, snippet or all of the above.</p>
<h3>After submitting the ticket.</h3>
<ul><li>Normally, we will get back to customers in 12-24 hours in business day.</li><li>The older tickets will be the first priority. So after you create the ticket, if possible, please do not reply to the ticket if our team hasn't replied to you yet because it will update your ticket response date to sooner and the priority will be lower. This might cause the delay replying.</li></ul>
<h3>My support has&nbsp;expired. What should I do?</h3>
<p>When your support pack has&nbsp;expired, you won't be able to create new tickets anymore. You can purchase support extension in item page. It will be on the right side :&nbsp;<a href="http://imgur.com/OAcDHuc.png" target="_blank" rel="nofollow">http://imgur.com/OAcDHuc.png</a>&nbsp;( more info:&nbsp;<a href="http://themeforest.net/forums/thread/item-support-picking-up-where-we-left-off/176552" target="_blank" rel="nofollow">http://themeforest.net/forums/thread/item-support-picking-up-where-we-left-off/176552</a>&nbsp;)</p>
<h3>Looking for theme customization service?</h3>
<p>Please note that customization jobs are not included in our support scope. However, our friend can do it for you. Check it out :&nbsp;<a href="https://goo.gl/LJKGDE" target="_blank" rel="nofollow">https://goo.gl/LJKGDE</a></p>
<p><br></p>
<p><br></p></div>

				</div>
			</section>

		
	
	
		
		
		
		
		</div>

		
	<script type="text/javascript">
		/* <![CDATA[ */
		var ajaxRequests = [];
		var ticksy_js_vars = {"ajax_url":"https:\/\/pixinvent.ticksy.com\/\/home\/","public_theme":"_theme"};
		var ticksy_lang_strings = {"select_all":"Select All","done":"Done"};
		/* ]]> */
	</script>
	
	<div id="data-ajax-loader"></div>
	
	<!-- JQuery -->
	<script src="js/jquery.min.js"></script>
	
	<!-- Combined Vendor JS Assets -->
	<script src="js/_combined.min.js"></script>

	<!-- Parallax JS -->
	<script src="js/parallax.min.js"></script>
	
	<!-- Fancybox -->
	<script src="js/jquery.fancybox.pack.js"></script>
	
	<!-- Ticksy Instant Search -->
	<script src="js/ticksy_instant-search.js"></script>
	
	<!-- Ticksy Custom Select -->
	<script src="js/ticksy_custom-select.js"></script>
	
	<!-- Highlight.js -->
	<script src="js/highlight.min.js"></script>
	
	<!-- Redactor2 -->
	<script src="js/redactor.js"></script>
	
	<!-- Redactor Icons Plugin -->
	<script src="js/iconic.js"></script>
	
	<!-- Shared Javascript -->
	<script src="js/custom_1.js" type="text/javascript"></script>
	
	<!-- Front-End Javascript -->
	<script src="js/custom.js" type="text/javascript"></script>

		
		
		
		<script type="text/javascript">
		jQuery(document).ready(function($) {

	/* Put your own custom Javascript here! */

});		if($('#404_page').length>0)
		{
			$('title').html('Nothing here');
		}
	</script>
		
		
	<div class="sidebar-overlay"></div>

</body>
</html>