@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjXr8MIVmc9_r.woff) format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/zYXgKVElMYYaJe8bpLHnCwDKtdXUEo5M.woff) format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjSL9MIVmc9_r.woff) format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjQ76MIVmc9_r.woff) format('woff');
}
