@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8aRn8kFeZ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWa25kddA.woff) format('woff');
}
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/mFT0WbgBwKPR_Z4hGN2qsxsJ0kJ6.woff) format('woff');
}
@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/8QIHdirahM3j_vu9soosrw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/KFOjCneDtsqEr0keqCMhbBc-AMP6lQ.woff) format('woff');
}
