@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/tDbI2oqRg1oM3QBjjcaDkOr9rAPWGQyH.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/tDbV2oqRg1oM3QBjjcaDkOJGiRD7OwetT0rU.woff) format('woff');
}
