<div class="row header">
  <div class="col-sm-2">
    <h3 class="mt-1 logo-lg-text-dark">
      <img src="/img/brasao.jpg" alt height="64" />
    </h3>
  </div>
  <div class="col-sm-6">
    <h3 class="mt-2 mb-0 logo-lg-text-dark">
      <img src="/img/logo-sm.svg" alt height="32" /> CPD
    </h3>
    <small class="mt-0 fs-13"> Centro de Processamento de Dados </small>
  </div>

  <div class="col-sm-4">
    <small class="mt-1">
      Av. Joaquim Gomes Pererira, 823<br />
      Centro, Lagoa da Prata<br />
      Contato: (37) 3262 5903
    </small>
  </div>
</div>
