
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

          <div class="h-100" data-simplebar>

              

              <!--- Sidemenu -->
              <div id="sidebar-menu">

                  <ul id="side-menu">

                      <!-- <li class="menu-title">Navigation</li> -->

                      <li class="menu-title ">Visão Geral</li>

                      <li>
                        <a href="/dashboard" >
                            <i data-feather="activity"></i>
                            <span>Dashboard</span>
                           
                        </a>
                     
                    </li>


                      <li class="menu-title ">TAREFAS</li>

                     

                      <li>
                          <a href="/tasks/show/new" >
                              <i data-feather="file-text"></i>
                              <span> Novas</span> <span class="badge bg-danger float-end new count_task">0</span>
                             
                          </a>
                       
                      </li>
                      
                      <li>
                        <a href="/tasks/show/pendding" >
                            <i data-feather="clipboard"></i>
                            <span> Pendentes</span> <span class="badge bg-warning float-end pendding count_task">0</span>
                           
                        </a>
                     
                    </li>

                    
                    <li>
                      <a href="/tasks/show/complete" >
                          <i data-feather="folder"></i>
                          <span>Finalizadas</span> <span class="badge bg-success float-end complete count_task">0</span>
                         
                      </a>
                   
                  </li>


                  <li>
                    <a href="/tasks/show/archive" >
                        <i data-feather="archive"></i>
                        <span>Arquivo</span> <span class="badge bg-soft-dark float-end archive count_task">0</span>
                       
                    </a>
                 
                </li>

                  <li class="menu-title ">CONSULTAS</li>

                  <li>
                    <a href="/patrimonio" >
                        <i data-feather="search"></i>
                        <span>Patrimonio</span> <span class="badge bg-primary float-end">33792</span>
                       
                    </a>
                 
                </li>




                  </ul>
              </div>
              <!-- End Sidebar -->


              <div class="clearfix"></div>

          </div>
          <!-- Sidebar -left -->

      </div>
      <!-- Left Sidebar End -->